<%
const sfTemplatePath = '../../node_modules/@ecomplus/storefront-template/template/pages/'
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include(`${sfTemplatePath}@/head`, { _ }) %>
  <link rel="stylesheet" type="text/css" href="/storefront.css">

  <%- await include('@custom-html/head', { _ }) %>
  <%- await include('@custom-html/home/head', { _ }) %>
</head>

<body>
  <%- await include(`${sfTemplatePath}@/layout/menu`, { _ }) %>

  <main role="main" id="main">
    <%- await include(`${sfTemplatePath}@/layout/header`, { _ }) %>

    <article id="content">
      <%- await include('@custom-html/append-top', { _ }) %>
      <%- await include('@custom-html/home/append-top', { _ }) %>

      <%
// load home and general info content
const home = _.cms('home')
const info = _.cms('info')
// fix array for home showcase
const showcase = Array.isArray(home.showcase)
  ? home.showcase.filter(({ collection }) => collection) : []
%>

<%- await include('components/banner-slider', { _, opt: home.slider }) %>
<% if (home.pitbar) { %>
  <%- await include('components/pitbar', { _ }) %>
<% } else { %>
  <script type="html/text" data-cms-html>
    <%- await include('components/pitbar', { _ }) %>
  </script>
<% } %>
      <div class="row">
        <div class="col-md-4 col-sm-4">
            <a href="https://www.mundoquadri.com.br/guincho-eletrico/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/guinchos.jpg"alt="Guinchos Elétricos" title="Guinchos Elétricos">
            </a>
         </div>
        <div class="col-md-4 col-sm-4">
            <a href="https://www.mundoquadri.com.br/galao/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/galao.jpg" data-original="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/galao.jpg" alt="Galão de Gasolina" title="Galão de Gasolina" >
            </a>
        </div>
        <div class="col-md-4 col-sm-4">
            <a href="https://www.mundoquadri.com.br/barra-de-led/">
              <img src="https://cdn.ecvol.com/s/www.mundoquadri.com.br/uploads/barra-led.jpg" alt="Barra de Led" title="Barra de Led">
            </a>
        </div>
      </div>
<div class="home container py-1 py-sm-2 py-lg-4">
  <% if (showcase.length) { %>
    <%
    for (let i = 0; i < showcase.length; i++) {
      const shelf = showcase[i]
      // get collection body
      const res = await _.ecomClient.store({ url: `/collections/${shelf.collection}.json` })
      const collection = res.data
      let items = []
      if (Array.isArray(collection.products) && collection.products.length) {
        // search collection items by IDs
        const search = new _.EcomSearch()
        await search.setProductIds(collection.products).fetch()
        items = search.getItems()
      }
      const { title, link } = shelf
      %>
      <%- await include('components/products-carousel', { _, opt: { items, collection, title, link } }) %>
      <%
    }
    %>
  <% } else { %>
    <%- await include('components/products-carousel', { _, opt: { items: _.items } }) %>
  <% } %>

  <section class="md-content" data-cms-bind="home.additional_content" data-cms-md="true">
    <% if (home.additional_content) { %>
      <%- _.md.render(home.additional_content) %>
    <% } %>
  </section>
</div>

      <%- await include('@custom-html/append-bottom', { _ }) %>
      <%- await include('@custom-html/home/append-bottom', { _ }) %>
    </article>

    <%- await include(`${sfTemplatePath}@/layout/footer`, { _ }) %>

    <%- await include('@custom-html/append-footer', { _ }) %>

    <div id="overlay" class="fade"></div>
  </main>

  <%- await include(`${sfTemplatePath}@/scripts`, { _ }) %>

  <%- await include('@custom-html/scripts', { _ }) %>

  <script src="/storefront.js"></script>
</body>

</html>
